#Build folder
bin/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#CMake stuff
*CMakeFiles/
*.cmake
*CMakeCache*

#Back files
*~

#eclipse stuff
*.cproject
*.pyproject
*.project